*{
    margin: 0;
    padding: 0;
}


body{
    background-color: rgb(226, 219, 219);
}


#navbar{
    
    background-color: rgb(212, 14, 14);
    color:white;
    height: 80px;
}

.links{
    font-size: 30px;
    padding-top: 18px;
    margin-left: 500px;
    


}

.links a{
    color:white;
}

#navbar h2{
    font-size: 30px;
    
    
}

#navbar img{
    height:80px;
    padding: 0px 100px 0px 30px; 
    
}

.portfolio-texto{
    display:flex;
     
}

.portfolio-texto h2{
    padding-left:50px;
    padding-top: 18px;
}

.sobremim-texto{
    padding-top: 50px;
    text-align: center;
}

.sobremim-texto span{
    border: 2px solid;
    font-size: 25px;
    padding: 15px;
    background-color: red;
    color: white;
    border-radius: 200px;
    
    
}

.sobremim-texto h1{
    font-weight: bold;
    margin-bottom: 80px;
    

}

.topicos{
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 100px;
    
}

.instituicoes h1, .soft-skills h1, .hard-skills h1{

    font-size: 35px;
    padding-bottom: 50px;
    
    
}

.soft-skills{
    padding-top: 44px;
}

.hard-skills{
    padding-top: 60px;
}

.instituicoes ul, .soft-skills ul, .hard-skills ul{
    border: 1px solid;
    border-radius: 5px;
    padding: 5px;
    background-color: red;
    color: white;
}

footer{
    margin-top: 300px;
    background-color: red;
    font-size: 25px;
    text-align: center;
    height: 50px;
    color: white
}

