*{
    margin: 0;
    padding: 0;
    
}

header{
    display:flex;
    background-color: green;
    height: 50px;
    align-items: center;
    
    
}

.busca-e-texto{
    display: flex;
    justify-content: space-between;
    
}

